{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<div class="row mt-5 mx-auto">
    {% for x in  products %}
    <div class="col-md-6 mt5">
        <img src="{{x.pimage.url}}" width="350px" height="250px">
    </div>
    <div class="col-md-6">
        <p><b>Product Name:</b>&nbsp;&nbsp;&nbsp;{{x.name}}</p>
        <p><b>Price:</b>&nbsp;&nbsp;&nbsp;Rs. {{x.price}}</p>
        <p><b>Category:</b>&nbsp;&nbsp;&nbsp;{{x.cat}}</p>
        <p><b>Product Description:</b>&nbsp;&nbsp;&nbsp; Best In Market</p>
        <br>
        <a href="/addtocart/{{x.id}}" class="btn btn-danger">Add to cart</a>
        <a href="/viewcart" class="btn btn-danger">View Cart</a>
        <a href="/index" class="btn btn-danger">Shop More</a>
        {% if success %}
            <div class="alert alert-success mt-3">
                {{success}}
            </div>
            {% endif %}
    {% endfor %}
    {% if errmsg %}
                <div class="alert alert-danger">
                    {{errmsg}}
                </div>
                {% endif %}
    </div>
</div>
{% endblock 'main' %}
